
DriveImgToTxt/credentials.json
DriveImgToTxt/quickstart.py
DriveImgToTxt/testDestination/tester/20-6.PNG.txt
DriveImgToTxt/testDestination/tester/IMG_4321.JPG.txt
DriveImgToTxt/testImages/20-6.PNG
DriveImgToTxt/testImages/IMG_4321.JPG
DriveImgToTxt/token.pickle
